.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

a {
  text-decoration: none;
  display: block;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: auto;
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #eca60e;
}

.logo-studio {
  color: #000000;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .list-nav {
    display: none;
  }
  .menu-btn:hover .burger-icon,
  .menu-btn:focus .burger-icon {
    fill: #eca60e;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-btn,
  .mob-close-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    display: inline-flex;
    width: 40px;
    height: 40px;
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mob-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 100vw;
    height: 796px;
    left: 50%;
    transform: translateX(-150%);
    top: 0;
    background-color: #ffffff;
    padding: 48px 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu.is-open {
    transform: translateX(-50%);
  }
  .mob-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mob-close-btn:hover .mob-close-icon,
  .mob-close-btn:focus .mob-close-icon {
    fill: #eca60e;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list,
  .contacts-list {
    display: none;
  }
  .mob-menu-list {
    display: inline-block;
  }
  .mob-menu-list li:not(:last-child) {
    padding-bottom: 32px;
  }
  .mob-menu-link {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: #212121;
    font-size: 40px;
    line-height: 47px;
  }
  .mob-menu-link:hover,
  .mob-menu-link:focus {
    color: #eca60e;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu-contacts-item {
    display: block;
  }
  .contact-link {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #eca60e;
    font-family: Roboto, sans-serif;
    display: block;
  }
  .contact-link-mail {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    font-family: Roboto, sans-serif;
    padding-top: 32px;
  }
  .social-mobile-menu-list {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .social-mobile-menu-link {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #eca60e;
  }
  .social-mobile-menu-link.add:after {
    content: "";
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mob-menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .navigation {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list-nav {
    display: flex;
  }
  .list-nav > li:not(:last-child) {
    margin-right: 50px;
  }
  .link {
    display: block;
    padding: 24px 0px;
  }
  .link-logo {
    margin-right: 60px;
  }
  .current {
    color: #eca60e;
  }
  .nav.link {
    color: #212121;
  }
  .nav.link:hover,
  .nav.link:focus {
    color: #eca60e;
  }
  .contact-link {
    letter-spacing: 0.02em;
    font-weight: 500;
    color: inherit;
    fill: currentColor;
    padding-bottom: 10px;
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #eca60e;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-envelope {
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover .icon-envelope,
  .contact-link:focus .icon-envelope {
    fill: #eca60e;
  }
  .icon-smartphone {
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover .icon-smartphone,
  .contact-link:focus .icon-smartphone {
    fill: #eca60e;
  }
  .current-link-item {
    position: relative;
  }
  .current-link-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #eca60e;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: inherit;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .link {
    display: block;
    padding: 32px 0px;
  }
  .contacts-list {
    display: flex;
  }
  .contacts-list > li:not(:last-child) {
    margin-right: 50px;
  }
  .contacts-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .link-logo {
    margin-right: 93px;
  }
}

.works-title {
  font-size: xx-large;
  color: #000000;
  text-align: center;
}

.works-text {
  font-size: large;
  text-align: center;
}

.works {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .works {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.buttons-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .buttons-list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.buttons-list-item {
  margin: 4px;
  margin-top: 15px;
}

.btn-item {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  border-radius: 4px;
  border: none;
  color: #212121;
  background-color: #f5f4fa;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:focus,
.btn-item:hover {
  color: #ffffff;
  background-color: #eca60e;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.working-item {
  outline: 1px solid #eeeeee;
  margin: 15px;
  width: 450px;
  background: #ffffff;
}

.working-item > .link,
.working-item img {
  display: block;
}

@media screen and (min-width: 768px) {
  .working-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .working-item {
    width: 370px;
  }
}

.working-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
  margin-bottom: 4px;
}

.working-type {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}

.working-descript {
  text-align: left;
  padding: 20px 24px;
}

.working-link:hover,
.working-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.working-item:hover .portfolio-box {
  transform: translateY(0);
}

.working-link:focus .portfolio-box {
  transform: translateY(0);
}

.portfolio-text {
  position: absolute;
  padding: 77px 24px;
  margin: 0;
  line-height: 28px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .portfolio-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-text {
    padding: 63px 24px;
  }
}

.footer-contact-link {
  color: #afb1b8;
  display: inline-block;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #eca60e;
}

.footer {
  background-color: #161616;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .link-logo {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: left;
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .tablet-footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-footer-wrapper {
    padding: 0;
    align-items: baseline;
  }
}

.location {
  margin: 0;
  margin-bottom: 9px;
  color: #757575;
}

.location:hover,
.location:focus {
  color: #eca60e;
}

.footer-logo-studio,
.address {
  color: #ffffff;
}

.footer-address {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
  }
}

.address,
.footer-contact-link {
  line-height: 1.7;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  display: block;
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

.footer-socialnet {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer-socialnet {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socialnet {
    margin: 0;
    margin-left: 70px;
    align-items: flex-start;
  }
}

.footer-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}

.social-link:hover,
.social-link:focus {
  background-color: #eca60e;
}

.social-item {
  width: 44px;
  height: 44px;
  margin: 5px;
}

.social-list {
  display: flex;
  margin: -5px;
  padding: 0;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.footer-subscribe {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer-mail-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-mail-form {
    flex-direction: row;
    justify-content: center;
  }
}

.footer-form-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form-text {
    margin: 0;
    margin-bottom: 20px;
  }
}

.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #eca60e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  padding-left: 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin: 0;
  }
}

.sub-btn-icon {
  fill: currentColor;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */
